<style>
  .alert-link:hover {
        text-decoration: underline !important;
    }
</style>
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-6 mt-5">
        <img src="/images/login.png" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-12 col-md-6 d-grid">
        <% if (errorMessage) { %><p class="error"> <%= errorMessage %> </p><% } %>
        <% if (successMessage) { %> <p class="success"> <%= successMessage %> </p><% } %>
          <form action="/login" method="POST">

            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="text" name="username" class="form-control form-control-md"
                placeholder="Enter a valid email address" />
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-3">
              <input type="password" name="password" class="form-control form-control-md"
                placeholder="Enter password" />
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <a href="/forgot-passsword" class="small alert-link text-secondar text-decoration-none">Forgot password?</a>
            </div>

            <div class="text-center text-lg-start mt-2">
              <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button> OR 
              <a href="/auth/google" class="alert-link text-decoration-none">Login with Google</a>

              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop" 
                  class="link-danger">Register</a></p>
            </div>

          </form>
        
      </div>
    </div>
  </div>
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title bold" id="staticBackdropLabel">
            Register
          </h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
       
          <form action="/register" method="post" class="p-2">
            <div class="mb-3">
              <div class="input-group">
                <span class="input-group-text">Name</span>
                <input required="" name="name" type="text" aria-label="name" class="form-control" placeholder="enter your name">
              </div>
            </div>
  
            <div class="mb-3">
              <div class="input-group">
                <span class="input-group-text">Email</span>
                <input required="" name="email" type="email" aria-label="email" class="form-control" placeholder="enter your email">
              </div>
            </div>
            <div class="mb-3">
              <div class="input-group">
                <span class="input-group-text">Password</span>
                <input required="" name="password" type="password" aria-label="password" class="form-control" placeholder="enter your password">
              </div>
            </div>
  
            <button type="submit" class="btn btn-md mt-2 lbtn btn-primary">Register</button>
          </form>
        </div>
        <div class="modal-footer d-flex align-items-centre justify-content-between">
          <div class="left d-flex flex-row align-items-centre justify-content-centre">
            <!-- Button trigger login modal -->
            <span>Already registered?</span> 
            <a class="btn btn-sm px-3 btn-outline-success" href="/">
              login
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>